
/*** Icon styles ***/
.dialog-box-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #00a5ec;
  display: grid;
  place-items: center;
  box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.2);
  z-index: 999999;
  position: absolute;
  bottom: 5%;
  right: 3%;
  cursor: pointer;
  transition: all 0.15s;
}
.dialog-box-icon:hover {
  box-shadow: 0px 4px 18px 2px rgba(0, 0, 0, 0.3);
}
.dialog-box-icon .icon {
  height: 40%;
  width: 40%;
  background: white;
  -webkit-clip-path: polygon(50% 32%, 100% 0, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(50% 32%, 100% 0, 100% 100%, 0 100%, 0 0);
}

/*** Styling form ***/
.dialog-box-form {
  width: fit-content;
  background: white;
  box-shadow: 0px 4px 18px 2px rgba(0, 0, 0, 0.15);
  padding: 40px 20px 20px 20px;
  display: none;
  flex-direction: column;
  gap: 20px;
  border-radius: 40px 10px 10px 10px;
  position: absolute;
  bottom: 4%;
  right: 4%;
}
.dialog-box-form input {
  padding: 10px;
  outline-width: 1px;
  outline-color: #00a5ec;
  border: 1px solid #999;
  border-radius: 4px;
}
.dialog-box-form input[type="submit"] {
  border: none;
  background: #00a5ec;
  color: white;
  cursor: pointer;
  transition: all 102ms;
}
.dialog-box-form input[type="submit"]:hover {
  background: #007bff;
}


/*** Close Button ***/
/*** Input Type reset is used to close and reset the value of input fields ***/
#close{
      height: 20px;
      width: 20px;
      border-radius: 50%;
      text-align: center;
      font-size:  14px;
      font-weight: bold;
      padding: 2px;
      color: #fff;
      background: #00a5ec;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 2%;
      right:2%;
}